@CHARSET "ISO-8859-1";
html, body {
	background: url(../images/Killarney.National.Park.jpg) no-repeat;
	height: 100%;
	font-size: 1.5em;
}

nav{
	font-size: 70%;
}


h1 {
	font-family: helvetica
}

.jumbotron{
	background: #22d8cf;
	color: black;
	opacity: 20%;
}

#messageBlock h1{
	font-family: 'Pacifico', cursive;
	font-size: 100%;
}

.jumbotron p{
	font-family: 'Pacifico', cursive;
	font-size: 85%;
}